<%= form_for @statistic do |f| %>
 
  <% if @statistic.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@statistic.errors.count, "error") %> prohibited
        this file from being uploaded:
      </h2>
      <ul>
        <% @statistic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>