<h1>Stock list</h1>
<h4>Powered by the Yahoo Finance API</h4>
<br>

<%= link_to 'Add a stock', new_stock_path %>
<br><br>

<table>

  <tr>
    <th>Name</th>
    <th>Stock ID</th>
    <th colspan="2"></th>
  </tr>
 
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.stockID %></td>
      <td><%= link_to 'Show', stock_path(stock) %></td>
      <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
    </tr>
  <% end %>

</table>