
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @Patchx

1
0

    0

Patchx/eFish-App
Code
Issues 0
Pull requests 0
Wiki
Pulse
Graphs
Settings
eFish-App/app/views/users/show.html.erb
5d697d7 2 days ago
@Patchx Patchx working Toggl API
36 lines (30 sloc) 804 Bytes
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Toggl Account?:</strong>
  <%= @user.toggl %>
</p>

<p>
  <strong>Toggl API Token:</strong>
  <%= "******" if @user.toggl_key != '' and @user.toggl_key != nil %>
</p>

<p>
  <strong>Toggl Workspace ID:</strong>
  <%= "******" if @user.toggl_wid != '' and @user.toggl_wid != nil %>
</p>

<p>
  <strong>Toggl Reports:</strong>
  <% if @user.toggl_wid != '' and @user.toggl_key != '' %>
    <% report = UsersController.toggl_report(@user) %>
    <% report = report.summary(@user.toggl_wid).as_json %>
    <%= "#{report[0]["time"]} milliseconds on #{report[0]["title"]["project"]}" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>

    Status API Training Shop Blog About Pricing 

    © 2016 GitHub, Inc. Terms Privacy Security Contact Help 

