<!DOCTYPE html>
<html>
<head>
  <title>EFish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<center><h1><%= link_to 'eFish', '/' %></h1></center>
<center><h3>Plan for success</h3></center>

<%= yield %>

</body>
</html>
